.divClass h1 {
  color: red;
}

#thirdDiv ul li img {
  width: 400px;
}

#thirdDiv {
  width: 500px;
  height: 600px;
  background: tomato;

  padding: 50px;
  border: 1px solid #333;
}

#spanId {
  font-size: 18px;
  margin: 50px;
}
